* {
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 2%;
}

.contact-page-head {
  box-shadow: 0 0 10px #000;
  margin-top: -2%;
  padding: 5px 0px 5px 10px;
  height: auto;
  max-width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
}

  .logo-box {
    float: left;
    height: auto;
    max-width: 100%;
    max-width: 50%;
  }

  .text-box {
    max-width: 100%;
    color: white;
    text-align: center;
  }

  .input-box h3 {
    color: #4286f4;
  }

  .input-box {
    max-width: 100%;
    color: white;
    clear: both;
  }

#email {
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  flex-direction: row;
  box-shadow: 0 0 10px #000;
  margin-top: 15px;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

  #info-input {
    padding-left: 10px;
  }

  #email span {
    clear: both;
  }

  #transcript {
    display: inline-block;
    float: left;
    margin: 15px 8px 20px 20px;
    padding-left: 5px;
    width: auto;
    height: 25px;
  }

  #microphone-img {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    border: 5px double #E6C410;
    background-color: #F5DE64;
    border-radius: 50%;
  }

  #red-dot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    margin: 5px;
    border: 5px outset;
  }

  #info {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 10px;
    padding: 0px 5px 5px 0px;
    text-decoration: underline;
}

  #info #tiptext {
    width: 200px;
    bottom: 100%;
    left: 50%;
    margin-left: -109px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
}

  #info:hover {
    color: red;
  }

  #info:hover #tiptext {
    visibility: visible;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 15px;
    width: 100%;
  }
}

  #show1 {
    animation-duration: 3s;
    animation-name: slidein;
    margin-left: 15px;
    color: blue;
    font-size: 1.5em;
    text-shadow: 0 0 2px #000;
  }

  #show2 {
    animation-duration: 3s;
    animation-name: slidein;
    color: red;
    font-size: 1.5em;
    text-shadow: 0 0 2px #000;
  }

  #show3 {
    animation-duration: 3s;
    animation-name: slidein;
    color: green;
    font-size: 1.5em;
    text-shadow: 0 0 2px #000;
  }

.contact-page-footer {
  position: absolute;
  max-width: 100%;
	bottom: 0px;
	left: 0px;
  text-align: center;
  padding: 15px;
  line-height: 160%;
}

  .logo {
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    font-family: 'Permanent Marker', cursive;
    background-image: -webkit-radial-gradient(circle, white 50%, black);
  }

  .logo2 {
    clear: right;
    background-image: -webkit-radial-gradient(circle, white 58%, black);
    height: auto;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    font-family: 'Permanent Marker', cursive;
    color: black;
    background-color: #F5F5F5;
  }

  @media screen and (min-width: 597px) {
    .shows {
      font-size: 2em;
    }
  }

  @media screen and (min-width: 427px) {
    #email {
      min-width: 100%;
    }

    .contact-page-footer {
      min-width: 100%;
    }
  }
